@font-face {
    font-family: 'Mont-Regular';
    src: url(/fonts/Mont-Regular.eot);
    src: url(/fonts/Mont-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Mont-Regular.woff) format('woff'),
    url(/fonts/Mont-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont-Light';
    src: url(/fonts/Mont-Light.eot);
    src: url(/fonts/Mont-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Mont-Light.woff) format('woff'),
    url(/fonts/Mont-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont-SemiBold';
    src: url(/fonts/Mont-SemiBold.eot);
    src: url(/fonts/Mont-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Mont-SemiBold.woff) format('woff'),
    url(/fonts/Mont-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont-Heavy';
    src: url(/fonts/Mont-Heavy.eot);
    src: url(/fonts/Mont-Heavy.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Mont-Heavy.woff) format('woff'),
    url(/fonts/Mont-Heavy.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(/fonts/Inter-Regular.eot);
    src: url(/fonts/Inter-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Inter-Regular.woff) format('woff'),
    url(/fonts/Inter-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url(/fonts/Inter-Medium.eot);
    src: url(/fonts/Inter-Medium.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Inter-Medium.woff) format('woff'),
    url(/fonts/Inter-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-ExtraLightBETA';
    src: url(/fonts/Inter-ExtraLightBETA.eot);
    src: url(/fonts/Inter-ExtraLightBETA.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Inter-ExtraLightBETA.woff) format('woff'),
    url(/fonts/Inter-ExtraLightBETA.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url(/fonts/Inter-SemiBold.eot);
    src: url(/fonts/Inter-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Inter-SemiBold.woff) format('woff'),
    url(/fonts/Inter-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-LightBETA';
    src: url(/fonts/Inter-LightBETA.eot);
    src: url(/fonts/Inter-LightBETA.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Inter-LightBETA.woff) format('woff'),
    url(/fonts/Inter-LightBETA.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont-DEMOExtraLight';
    src: url(/fonts/Mont-DEMOExtraLight.eot);
    src: url(/fonts/Mont-DEMOExtraLight.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Mont-DEMOExtraLight.woff) format('woff'),
    url(/fonts/Mont-DEMOExtraLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Mont-Regular';
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#global {
  font-family: 'Mont-Heavy';
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  width: 210px;
  position: relative;
  top: 1px;
  left: -193px;
}
.nav_header {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  position: relative;
  top: 40px;
  text-align: center;
  font-family: 'Inter-LightBETA';
  z-index: 10;
  height: 30px;
}
#cont {
  left: 90px;
}
#blog {
  left: 71px;
}
#header_about {
  left: 62px;
}
#partners {
  left: 43px;
}
#database {
  left: -30px;
}
#header_contacts {
  left: 90px;
}
#conference {
  text-align: center;
  left: 18px;
}
.wrap_header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[2] 5% 20% (7%)[5];
  grid-template-columns: repeat(2, 20%) 5% 20% repeat(5, 7%);
  width: 1290px;
}
.wrap_mainHeader {
  display: flex;
  justify-content: center;
}

#circle2 {
  position: relative;
  right: 52px;
}
.wrap_mainScreen {
  display: flex;
  justify-content: center;
}
.main_screen {
  position: relative;
  height: 920px;
  width: 1290px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1px (1fr)[2];
  grid-template-columns: 1px repeat(2, 1fr);
}
.main_wrap {
  background-image: url(/902c3503b3a6c54eaa4dc97af24cd441.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  /*overflow: hidden;*/
}
#block_net {
  position: relative;
  left: -70px;
  font-weight: 900;
  color: #ffffff;
  font-size: 54px;
  line-height: 60px;
  font-family: 'Mont-Heavy';
  top: 200px;
  width: 600px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#reality {
  position: relative;
  width: 500px;
  left: -70px;
  top: -42px;
  font-weight: 400;
  color: #ffffff;
  font-size: 49px;
  line-height: 54px;
  font-family: 'Inter-Regular';
  text-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  letter-spacing: 1px;
}
#join_for {
  position: relative;
  left: -70px;
  top: -212px;
  color: #ffffff;
  width: 166px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(
  30.01deg
  , rgba(107, 54, 239, 0) -41.24%, #1EC0F4 88.17%);
  background: linear-gradient(
  59.99deg
  , rgba(107, 54, 239, 0) -41.24%, #1EC0F4 88.17%);
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-decoration: none;
  font-family: 'Inter-LightBETA';
}
#explore {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  width: 105px;
  position: relative;
  top: -392px;
  left: 150px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23px;
  border-bottom: 2px solid;
  font-family: 'Inter-LightBETA';
}
.watch_vr {
  width: 260%;
  height: 1092.43px;
  left: 0px;
  top: -98px;
  background: -o-radial-gradient(96.87% 12.13%, 84.88% 107.91%, #FFFFFF 0%, rgba(255, 255, 255, 0.05) 100%);
  background: radial-gradient(84.88% 107.91% at 96.87% 12.13%, #FFFFFF 0%, rgba(255, 255, 255, 0.05) 100%);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  border-radius: 500px;
  position: relative;
}
.blockchain_network {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 66px;
  top: -75px;
}
.watch_inside {
  position: absolute;
  width: 482.68px;
  height: 482.68px;
  left: 111px;
  top: 235px;
  background: -o-radial-gradient(123.14% 12.13%, 107.91% 107.91%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%);
  background: radial-gradient(107.91% 107.91% at 123.14% 12.13%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%);
  -webkit-backdrop-filter: blur(20.8428px);
          backdrop-filter: blur(20.8428px);
  border-radius: 548.496px;
}
#mobile {
  position: relative;
  top: 142px;
  left: 20px;
}
#oculus {
  position: relative;
  top: 127px;
  left: -40px;
  width: 290px;
  z-index: 1;
}
#macbook {
  position: relative;
  top: -178px;
  left: 180px;
}
#play1 {
  position: relative;
  top: -320px;
  z-index: 2;
  left: -130px;
}
.vr {
  position: absolute;
  width: 250px;
  color: #fafafa;
  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
  top: 400px;
  left: 170px;
  font-family: 'Inter-Regular';
}
.fone {
  position: relative;
  width: 100%;
  height: 320px;
  background: -webkit-gradient(
  linear
  , left top, left bottom
  , color-stop(7.29%, #000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(
  top
  , #000000 7.29%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(
  180deg
  , #000000 7.29%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: rotate(
  -180deg
  );
      -ms-transform: rotate(
  -180deg
  );
          transform: rotate(
  -180deg
  );
  top: -281px;
}

.possibilities{grid-area:possibilities}
.technologies{grid-area:technologies}
.why{grid-area:why}
.community{grid-area:community}
.title_2{grid-area:title_2}
.subtitle_2{grid-area:subtitle_2}
.title_3{grid-area:title_3}
.subtitle_3{grid-area:subtitle_3}
.collaboration_img{grid-area:collaboration_img}

.collaboration {
	position: relative;
	margin-top:-300px;
	background-image: url(/d5ed54eb8656035a23e6368b1be459fa.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 1400px;
	display: grid;
	justify-items: center;
}
.collab_inside{
	position: relative;
	top: 70px;
	width: 1290px;
	height: 1400px;
	display: -ms-grid;
	display: grid;
	overflow: hidden;
	-ms-grid-columns: 20% (1fr)[3];
	grid-template-columns: 20% repeat(3, 1fr);
	    grid-template-areas:
		". possibilities ."
		". technologies ."
		". why ."
		". community collaboration_img"
		". title_2 ."
		". subtitle_2 ."
		". title_3 ."
		". subtitle_3 ."
}

.possibilities{
	width: 978px;
	height: 69px;
	margin-top:100px;
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/4;
	font-family: 'Mont-SemiBold';
	font-weight: 800;
	font-size:45px;
	line-height:69px;
	color:#FFFFFF;
	position:relative;
	margin-bottom:0;
	position: relative;
}

.technologies{
	margin-top:-109px;
	width: 939px;
	height: 200px;
	font-family: 'Mont-DEMOExtraLight';
	font-weight: 500;
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/4;
	font-size:45px;
	line-height:69px;
	color:#FFFFFF;
	position: relative;
}

.why{
	width: 41px;
	height: 25px;
	font-family: 'Inter-Medium';
	font-weight: 800;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	position: relative;
	top: -109px;
	grid-column: 1 / 2;
}

.community{
	width: 497.5px;
	height: 200px;
	margin-top:-234px;
	font-family: 'Inter-LightBETA';
	font-weight: normal;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	width: 497px;
	height: 200px;
	position: relative;
	grid-column: 1 / 2;
}

.title_2{
	width: 87px;
	height: 25px;
	font-family: 'Inter-Medium';
	font-weight: 800;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	position: relative;
	grid-column: 1 / 2;
	top: -114px;
}

.subtitle_2{
	width: 512.17px;
	height: 25px;
	margin-top:-241px;
	font-family: 'Inter-LightBETA';
	font-weight: normal;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	width: 512px;
	height: 25px;
	position: relative;
	grid-column: 1 / 2;
}

.title_3{
	width: 88px;
	height: 25px;
	font-family: 'Inter-Medium';
	font-weight: 800;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	position: relative;
	grid-column: 1 / 2;
	top: -306px;
}

.subtitle_3{
	width: 501.35px;
	height: 100px;
	margin-top:-432px;
	font-family: 'Inter-LightBETA';
	font-weight: normal;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	width: 501px;
	height: 100px;
	position: relative;
	grid-column: 1 / 2;
}

#container{
	position:absolute;
	-ms-grid-row:3;
	-ms-grid-row-span:4;
	grid-row:3/7;
	width:550px;
	height:550px;
	-ms-grid-column-align:center;
	    justify-self:center;
	-ms-grid-row-align:center;
	    align-self:center;
	mix-blend-mode: lighten;
	z-index: 1000;
	left: 145px;
	top: -300px;
}

.table1 {
	position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  top: -200px;
}

#table_1 {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
}
#table_2 {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	display: none;
}
#table_3 {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	display: none;
}
.table_glass {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	left: 78px;
	width: 1290px;
	height: 450px;
	background: -webkit-gradient(
	linear
	, left top, left bottom
	, color-stop(13.15%, #FFFFFF), color-stop(140.31%, rgba(255, 255, 255, 0)));
	background: -o-linear-gradient(
	top
	, #FFFFFF 13.15%, rgba(255, 255, 255, 0) 140.31%);
	background: linear-gradient(
	180deg
	, #FFFFFF 13.15%, rgba(255, 255, 255, 0) 140.31%);
	-webkit-transform: rotate(
	-180deg
	);
	    -ms-transform: rotate(
	-180deg
	);
	        transform: rotate(
	-180deg
	);
	position: absolute;
	top: 376px;
}
#full_database {
	position: relative;
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 260px;
	height: 63px;
	left: 435px;
	top: 91px;
	background: -o-linear-gradient(
	27.82deg
	, #6B36EF -22.93%, #1EC0F4 88.82%);
	background: linear-gradient(
	62.18deg
	, #6B36EF -22.93%, #1EC0F4 88.82%);
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
	font-family: 'Inter-Regular';
	color: #FFFFFF;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#register {
	position: relative;
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	position: relative;
	grid-column: 2 / 3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	top: 28px;
	width: 237px;
	height: 63px;
	left: 756px;
	border: 1px solid #000000;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
	font-family: 'Inter-LightBETA';
	color: #000000;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.table_text {
	position: relative;
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	text-align: center;
	width: 402px;
	height: 51px;
	left: 514px;
	top: 53px;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	font-family: 'Inter-Regular';
	color: #808080;
}

.wrap_people {
  position: relative;
  top: -34px;
  display: -ms-grid;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}
.people {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 18px 4px;
  width: 1290px;
  top: -10px;
  height: 737px;
}
.info_people {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  height: 220px;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 30px 1fr;
  grid-template-rows: 30px 1fr;
  width: 370px;
}
.info_people > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.info_people > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.info_people > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.info_people > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.each_person {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  border-radius: 10px;
  padding: 0px 10px;
}
.each_person:hover {
  background: -webkit-gradient(
linear
, left bottom, left top
, from(rgba(255, 255, 255, 0.43)), to(rgba(0, 209, 255, 0.2)));
  background: -o-linear-gradient(
bottom
, rgba(255, 255, 255, 0.43) 0%, rgba(0, 209, 255, 0.2) 100%);
  background: linear-gradient(
360deg
, rgba(255, 255, 255, 0.43) 0%, rgba(0, 209, 255, 0.2) 100%);
    -webkit-backdrop-filter: blur(43px);
            backdrop-filter: blur(43px);
            cursor: pointer;
}
.each_person:hover .grad_each {
  background: -o-linear-gradient(225.99deg, rgba(112, 0, 255, 0.33) -23.44%, rgba(0, 87, 255, 0.33) 106.41%);
  background: linear-gradient(224.01deg, rgba(112, 0, 255, 0.33) -23.44%, rgba(0, 87, 255, 0.33) 106.41%);
  background-blend-mode: multiply;
  -webkit-filter: blur(24px);
          filter: blur(24px);
}
.each_person:hover #img_person {
  border-radius: 12px;
}

.description_people, .seeAll {
  font-family: 'Inter-LightBETA';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.descr_of_person {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  top: -7px;
  font-family: 'Inter-LightBETA';
}
.description_people {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  position: relative;
  top: -9px;
}
.seeAll {
  text-align: end;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  position: relative;
  top: -6px;
  background: -webkit-linear-gradient(#6B36EF, #1EC0F4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid;
  width: 80px;
  position: relative;
  left: 55px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #1EC0F4, #6B36EF);
}
.our_people {
  font-family: 'Inter-SemiBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  top: -20px;
}
.name_of_person {
  font-family: 'Inter-SemiBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.descr_of_person{
	font-family: 'Inter-Regular';
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
}
.grad_each {
  position: absolute;
  width: 190px;
  height: 190px;
  top: 6px;
  left: 25px;
  z-index: -1;
}
.wide {
  position: relative;
  top: 860px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#wide2 {
  display: none !important;
}
#wide1 {
  display: block;
}
.water {
  background: -webkit-gradient(
  linear
  , left top, left bottom
  , from(rgba(255, 255, 255, 0.22)), to(rgba(0, 209, 255, 0)));
  background: -o-linear-gradient(
  top
  , rgba(255, 255, 255, 0.22) 0%, rgba(0, 209, 255, 0) 100%);
  background: linear-gradient(
  180deg
  , rgba(255, 255, 255, 0.22) 0%, rgba(0, 209, 255, 0) 100%);
  -webkit-backdrop-filter: blur(43px);
          backdrop-filter: blur(43px);
  border-radius: 19px;
  position: absolute;
  height: 150px;
  width: 1100px;
  top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% (1fr)[2];
  grid-template-columns: 40% repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}.water > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.water > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}.water > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.water > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}.water > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}.water > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.vr_gl {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  left: 30px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  font-family: 'Inter-SemiBold';
}
.reg_bottom1 {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: -o-linear-gradient(
  27.82deg
  , #6B36EF -22.93%, #1EC0F4 88.82%);
  background: linear-gradient(
  62.18deg
  , #6B36EF -22.93%, #1EC0F4 88.82%);
  width: 249px;
  height: 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 44px;
  left: 34px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  font-family: 'Inter-Medium';
  letter-spacing: 1px;
  text-decoration: none;
}
.expo1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 30px;
  top: -40px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  font-family: 'Inter-ExtraLightBETA';
}
.dates1 {
  position: relative;
  top: -10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  font-family: 'Inter-SemiBold';
}

.brands{
	position: relative;
	width:1290px;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	display: -ms-grid;
	display: grid;
  -ms-grid-columns: 12.5% (25%)[3] 1fr;
  grid-template-columns: 12.5% repeat(3, 25%) 1fr;
}
.wrap_brands {
	position: relative;
	top: 982px;
	display: flex;
	justify-content: center;
}
.info_brands{
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/3;
	display: -ms-grid;
	display: grid;
	height: 226px;
	-ms-grid-columns: 75% 25%;
	grid-template-columns: 75% 25%;
	-ms-grid-rows: 30px 1fr;
	grid-template-rows: 30px 1fr;
	left:-115px;
	width: 344px;
}
.info_brands > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.info_brands > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
.info_brands > *:nth-child(3){
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
.info_brands > *:nth-child(4){
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}
.VR_Stand{
	font-family: 'Inter-SemiBold';
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	position: relative;
	top: -20px;
	-ms-grid-column-align: start;
	    justify-self: start;
}
.brands_text{
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1 / 3;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
	font-family: 'Inter-Regular';
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	position: relative;
	top: -5px;
}
.seeAll_2{
	text-align: end;
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1 / 2;
	position: relative;
	top: -6px;
	background: -webkit-linear-gradient(#6B36EF, #1EC0F4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-bottom: 1px solid;
	width: 80px;
	position: relative;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1EC0F4, #6B36EF);
	font-family: 'Inter-Regular';
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
}
.reserve, .reserve2{
	font-family: 'Inter-SemiBold';
	text-decoration: none;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #FFFFFF;
	background: -o-linear-gradient(27.82deg, #6B36EF -22.93%, #1EC0F4 88.82%);
	background: linear-gradient(62.18deg, #6B36EF -22.93%, #1EC0F4 88.82%);
	width: 160px;
	height: 59px;
	float:left;
	margin-right:14px;
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1 / 2;
	left: 66px;
	top: -40px;
	opacity: 0;
}
.discover_more, .discover_more2{
	font-family: 'Inter-Regular';
	text-decoration: none;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #1B1C1D;
	border: 0.94px solid #000000;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 184px;
	height: 59px;
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	left: -260px;
	top: -40px;
	opacity: 0;
}
.discover_more2 {
	left: 245px !important;
  top: -99px !important;
}
.discover_more {
	top: -66px !important;
}
.reserve {
	top: -67px !important;
}
#img_stand{
	position: relative;
}
#img_stand2 {
	position: relative;
}
.stand_one {
	position: relative;
	top: -21px;
	left: -85px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2, 1fr);
}
.stand_two {
	position: relative;
	top: -21px;
  left: 41px;
}
.square_projects2, .square_projects22 {
	position: absolute;
	width: 409px;
	height: 307px;
	left: 41px;
	top: 30px;
	z-index: -1;
}
.square_projects1, .square_projects11 {
	position: absolute;
	width: 434px;
	height: 419px;
	top: 16px;
	left: 26px;
	z-index: -1;
}
.stand_one:hover .reserve {
	opacity: 1;
}
.stand_one:hover .discover_more {
	opacity: 1;
}
.stand_one:hover .square_projects1{
	background: -o-linear-gradient(
89deg
, rgba(255, 255, 255, 0.6) 0%, rgba(0, 209, 255, 0.2) 100%);
	background: linear-gradient(
1deg
, rgba(255, 255, 255, 0.6) 0%, rgba(0, 209, 255, 0.2) 100%);
	-webkit-backdrop-filter: blur(40.3417px);
	        backdrop-filter: blur(40.3417px);
	border-radius: 9.38179px;
}
.stand_one:hover .square_projects2 {
	background: -o-linear-gradient(
	225.99deg
	, rgba(112, 0, 255, 0.33) -23.44%, rgba(0, 87, 255, 0.33) 106.41%);
	background: linear-gradient(
	224.01deg
	, rgba(112, 0, 255, 0.33) -23.44%, rgba(0, 87, 255, 0.33) 106.41%);
	background-blend-mode: multiply;
	-webkit-filter: blur(22.5163px);
	        filter: blur(22.5163px);
}
.stand_two:hover .square_projects11{
	background: -o-linear-gradient(
89deg
, rgba(255, 255, 255, 0.6) 0%, rgba(0, 209, 255, 0.2) 100%);
	background: linear-gradient(
1deg
, rgba(255, 255, 255, 0.6) 0%, rgba(0, 209, 255, 0.2) 100%);
	-webkit-backdrop-filter: blur(40.3417px);
	        backdrop-filter: blur(40.3417px);
	border-radius: 9.38179px;
}
.stand_two:hover .square_projects22 {
	background: -o-linear-gradient(
	225.99deg
	, rgba(112, 0, 255, 0.33) -23.44%, rgba(0, 87, 255, 0.33) 106.41%);
	background: linear-gradient(
	224.01deg
	, rgba(112, 0, 255, 0.33) -23.44%, rgba(0, 87, 255, 0.33) 106.41%);
	background-blend-mode: multiply;
	-webkit-filter: blur(22.5163px);
	        filter: blur(22.5163px);
}
.stand_two:hover .reserve2 {
	opacity: 1;
}
.stand_two:hover .discover_more2 {
	opacity: 1;
}
.wrap_logos {
	position: relative;
  top: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logos {
	width: 1290px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10,1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  height: 211px;
}
.logos > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.logos > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
.logos > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.logos > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
}
.logos > *:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}
.logos > *:nth-child(6) {
	-ms-grid-row: 1;
	-ms-grid-column: 6;
}
.logos > *:nth-child(7) {
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}
.logos > *:nth-child(8) {
	-ms-grid-row: 1;
	-ms-grid-column: 8;
}
.logos > *:nth-child(9) {
	-ms-grid-row: 1;
	-ms-grid-column: 9;
}
.logos > *:nth-child(10) {
	-ms-grid-row: 1;
	-ms-grid-column: 10;
}
.logos > *:nth-child(11) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
.logos > *:nth-child(12) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}
.logos > *:nth-child(13) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}
.logos > *:nth-child(14) {
	-ms-grid-row: 2;
	-ms-grid-column: 4;
}
.logos > *:nth-child(15) {
	-ms-grid-row: 2;
	-ms-grid-column: 5;
}
.logos > *:nth-child(16) {
	-ms-grid-row: 2;
	-ms-grid-column: 6;
}
.logos > *:nth-child(17) {
	-ms-grid-row: 2;
	-ms-grid-column: 7;
}
.logos > *:nth-child(18) {
	-ms-grid-row: 2;
	-ms-grid-column: 8;
}
.logos > *:nth-child(19) {
	-ms-grid-row: 2;
	-ms-grid-column: 9;
}
.logos > *:nth-child(20) {
	-ms-grid-row: 2;
	-ms-grid-column: 10;
}
.logos > *:nth-child(21) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.logos > *:nth-child(22) {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
}
.logos > *:nth-child(23) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
.logos > *:nth-child(24) {
	-ms-grid-row: 3;
	-ms-grid-column: 4;
}
.logos > *:nth-child(25) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}
.logos > *:nth-child(26) {
	-ms-grid-row: 3;
	-ms-grid-column: 6;
}
.logos > *:nth-child(27) {
	-ms-grid-row: 3;
	-ms-grid-column: 7;
}
.logos > *:nth-child(28) {
	-ms-grid-row: 3;
	-ms-grid-column: 8;
}
.logos > *:nth-child(29) {
	-ms-grid-row: 3;
	-ms-grid-column: 9;
}
.logos > *:nth-child(30) {
	-ms-grid-row: 3;
	-ms-grid-column: 10;
}
#bmw {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1 / 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
}
.explain2 {
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1 / 5;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 67% 33%;
	grid-template-columns: 67% 33%;
}
.participating1, .vacancies {
	font-family: 'Inter-SemiBold';
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
}
.seeAll_3 {
		position: relative;
		left: -88px;
    top: 16px;
		text-align: end;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    position: relative;
    background: -webkit-linear-gradient(#6B36EF, #1EC0F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    width: 80px;
		height: 30px;
    position: relative;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #1EC0F4, #6B36EF);
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.join2 {
	font-family: 'Inter-Regular';
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	position: relative;
	top: -17px;
}
.block_v, .we_wish {
	font-family: 'Inter-Regular';
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	position: relative;
  width: 440px;
}
.wrap_vacancies {
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1 / 5;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3 / 4;
	position: relative;
	top: 100px;
}
.vacancies {
	position: relative;
	top: -1px;
}

.footer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12.5% (1fr)[3];
  grid-template-columns: 12.5% repeat(2, 1fr) 21%;
  width: 1290px;
}
.wrap_footer {
  position: relative;
  top: 1547px;
  display: flex;
  justify-content: center;
}
.wrap_spheres {
  position: relative;
  top: -20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 3;
}
.global_bn {
  font-weight: 900;
  font-size: 21px;
  line-height: 23px;
  font-family: 'Mont-Heavy';
  position: relative;
  top: -74px;
  left: 75px;
  width: 220px;
}
#sphere1 {
  position: relative;
  left: 10px;
}
#sphere2 {
  position: relative;
  left: -46px;
  top: -1px;
}
.each_footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: black;
  font-family: 'Inter-Regular';
}
.wrap_linkes_footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 14px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px 90px;
  font-family: 'Inter-Regular';
}
.wrap_contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  position: relative;
  top: -17px;
}
#email {
  position: relative;
  top: -52px;
}
#second_foot {
  position: relative;
  top: 60px;
  height: 10px;
}
.each_logo {
  grid-row: 2 / 3;
  display: grid;
  justify-self: center;
  top: -15px;
  position: relative;
  margin: 12px 18px;
  left: -16px;
}
#person02 {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}
#person03 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#person04 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
#person05 {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
#person06 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#person07 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#person08 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
#person09 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
#person10 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
#anchor_link {
  position: relative;
  grid-column: 5 / 6;
  left: 142px;
  top: -27px;
  cursor: pointer;
  width: 30px;
}

@media (min-width: 1000px) and (max-width: 1485px) {
  .nav_header {
    font-size: 16px;
    top: 35px;
  }
  #global {
    font-size: 18px;
    line-height: 19px;
    left: -100px;
    top: 6px;
  }
  #header_contacts {
    left: 77px;
  }
  .wrap_header {
    width: 990px;
    position: relative;
    left: -15px;
  }
  .wrap_circle {
    position: relative;
    left: 31px;
    top: 1px;
  }
  #container {
    top: -360px;
    left: 150px;
  }
  #block_net{
	font-size: 40px;
	line-height: 44px;
	left:-110px;
	top:50px;
  }
  .main_screen{
	  height:650px;
    width: 990px;
  }
  #reality {
	font-size: 30px;
	line-height: 33px;
	left:-110px;
	top:-200px;
	font-family: 'Inter-ExtraLightBETA';
	font-weight: 400;
  }
  #explore {
	font-size: 18px;
	line-height: 25px;
	top:-617px;
	left:80px;
  }
  #join_for {
	width: 143px;
	height: 43px;
	font-size: 18px;
	line-height: 25px;
	left:-110px;
	top:-400px;
	font-family: 'Inter-ExtraLightBETA';
	font-weight: 400;
  }
  .watch_vr {
	top:-150px;
	left:-69px;
  }
  .collab_inside {
    width: 990px;
  }
  .watch_inside{
	width: 354px;
  height: 354px;
	top:250px;
	left:70px;
  }
   #macbook {
	width: 221.39px;
	height: 238.97px;
	top:-100px;
	left:150px;
 }
	#oculus {
	width: 212.74px;
	height: 144.19px;
	top:110px;
	left:-30px;
 }
	#mobile {
	width: 95.81px;
	height: 120.92px;
	top:110px;
	left:10px;
 }
	.vr {
	font-size: 16px;
	line-height: 22px;
	top:290px;
	left:120px;
	color: #FFFFFF;
 }
 #play1 {
	top:-200px;
	width:44px;
	height:51px;
	left:-60px;
 }
 .collaboration{
	height:1300px;
  background-image: url(/5c333f38a5d727ef64cb9ac423829753.png)
 }
 .possibilities{
	font-size: 30px;
	line-height: 45px;
 }
 .technologies{
	font-size: 30px;
  margin-top: -137px;
	line-height: 45px;
 }
 .why{
	top:-163px;
 }
 .community{
	margin-top:-291px;
 }
 .title_2{
	top:-182px;
 }
 .subtitle_2{
	margin-top:-311px;
  width: 272px;
 }
 .title_3{
	top:-351px;
 }
 .subtitle_3{
	margin-top:-479px;
 }
 .table1{
  justify-items: center;
  display: grid;
	top:700px;
	-ms-grid-columns: 5% 90% 5%;
	grid-template-columns: 5% 90% 5%;
 }
 #table_1 {
	display: none;
 }
 #table_2 {
    grid-column: 2 / 3;
    display: block;
    position: absolute;
    z-index: 1;
    top: -926px;
    width: 870px;
 }
 #table_3 {
    grid-column: 2 / 3;
    display: block;
    position: absolute;
    top: -965px;
    width: 990px;
 }
 .table_glass{
   width: 100%;
   left: 0;
   top: -372px;
   z-index: 1;
   height: 169px;
 }
 #full_database {
   top: -246px;
   position: relative;
   left: -143px;
   z-index: 2;
   grid-column: 2 / 3;
 }
 #register {
   position: relative;
   top: -309px;
   left: 156px;
   z-index: 2;
 }
 .table_text {
   top: -284px;
   left: 9px;
 }
 .wrap_people {
	top:507px;
 }
 .our_people {
   position: relative;
   top: -40px;
   font-size: 26px;
   line-height: 42px;
   width: 152px;
 }
 .each_person {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   position: relative;
   width: 200px;
   top: -92px;
 }
 .people {
   width: 990px;
   -ms-grid-columns: (1fr)[3];
   grid-template-columns: repeat(3, 1fr);
   -ms-grid-rows: (1fr)[3];
   grid-template-rows: repeat(3, 1fr);
 }
 .info_people {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 3;
   position: relative;
 }
 .descr_of_person {
   font-size: 18px;
 }
 .wide {
   top: 1550px;
 }
 #person01 {
   grid-column: 3 / 4;
   grid-row: 3 / 4;
 }
 #person02 {
   grid-column: 6 / 7;
   grid-row: 3 / 4;
 }
 #person03 {
   grid-column: 1 / 2;
   grid-row: 3 / 4;
 }
 #person04 {
   grid-column: 2 / 3;
   grid-row: 3 / 4;
 }
 #person09, #person10 {
   display: none;
 }
 #wide1 {
   width: 92%;
   left: 1%;
   position: relative;
   min-height: 260px;
 }
 .reg_bottom1 {
   width: 182px;
   top: 59px;
   left: 16%;
 }
 .dates1 {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   position: relative;
   left: 29px;
   top: -69px;
   font-family: 'Inter-Regular';
   -ms-grid-row: 3;
   -ms-grid-row-span: 1;
   grid-row: 3 / 4;
   display: block;
 }
 .water {
   height: 178px;
   width: 851px;
   top: 21px;
   -ms-grid-rows: (1fr)[3];
   grid-template-rows: repeat(3, 1fr);
 }
 .vr_gl {
   width: 400px;
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1 / 2;
 }
 .VR_stand {
  font-size: 30px;
  line-height: 42px;
 }
 .brands {
   top: 1700px;
   width: 990px;
   -ms-grid-columns: (1fr)[2];
   grid-template-columns: repeat(2, 1fr);
 }
 .info_brands {
   position: relative;
   left: 104px;
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
 }
 .brands_text, .VR_Stand {
   padding-left: 70px;
 }
 .VR_Stand {
    font-size: 30px;
    line-height: 42px;
    position: relative;
    top: -41px;
    width: 471px;
 }
 .stand_one {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   top: -98px;
 }
 .stand_two {
   top: -110px;
 }
 .blockchain_network {
    left: 126px;
 }
 #wide2 {
   width: 975px;
   display: block !important;
 }
 #wide1 {
   display: none;
 }
}

@media (min-width: 1485px) and (max-width: 1800px) {
	#container {
		left: 220px;
	}
}
@media (min-width: 1100px) and (max-width: 1500px) {
	.wrap_logos {
		top:1500px;
	}
	.participating1{
		font-size: 30px;
		line-height: 42px;
		width:358px;
	}

	.seeAll_3 {
		top:35px;
		left:-255px;
	}
	.wrap_vacancies {
		top: 80px;
	}
	.block_v, .we_wish {
		margin: 10px 0px;
	}
	.explain2 {
		-ms-grid-column: 1;
		-ms-grid-column-span: 8;
		grid-column: 1 / 9;
	}
	#img_stand, #img_stand2 {
		width: 570px;
	}
	.square_projects1, .square_projects11 {
		width: 496px;
		height: 442px;
		top: 21px;
	}
	.square_projects2, .square_projects22 {
		width: 468px;
		height: 336px;
		top: 45px;
	}
	.footer{
		top:2300px;
		width: 990px;
		grid-template-columns: 14.5% repeat(2, 1fr) 28%;
	}
	.reserve, .discover_more, .reserve2 {
		top: -47px !important;
	}
	.reserve, .reserve2 {
		height: 63px;
		width: 171px;
		font-size: 18px;
		left: 81px;
	}
	.discover_more, .discover_more2 {
		width: 197px;
		height: 63px;
		left: -290px;
		font-size: 18px;
	}
	.discover_more2 {
		left: 94px !important;
		top: -47px !important;
	}
	.wrap_contacts {
		justify-items:end;
		top: -33px;
		left: -19px;
	}
	.wrap_linkes_footer {
		position: relative;
		left: 182px;
	  grid-gap: 26px;
		grid-column-gap: 76px;
		top: -15px;
		width: 400px;
	}
	.wrap_spheres {
		margin-top:0px;
	}
	.wrap_brands {
		top: -93px;
		z-index: -1;
	}
	.brands_text {
		width: 486px;
	}
	.seeAll_2 {
		left: 240px;
	}
	.stand_one {
		left: 128px;
		top: -70px;
	}
	 .stand_two {
		 left: -121px;
		 top: -70px;
	 }
	 .logos {
		 width: 990px;
		 grid-template-columns: repeat(6, 1fr);
	 }
	 .join2 {
		 width: 528px;
		 top: -33px;
	 }
	 #stick7, #stick8, #stick9, #stick10 {
		 display: none;
	 }
	 .wrap_footer {
		 top: -200px;
		 z-index: -1;
	 }
	 #anchor_link {
		 left: 122px;
		 top: -36px;
	 }
}

