@media (min-width: 320px) and (max-width: 576px) {
  .secondDb {
    position: absolute;
    transform: scale(0.8);
    top: -780px;
    z-index: 1;
  }

  .wrap_mainHeader {
    position: relative;
    z-index: 8;
  }
}