.profHr {
  height: 740px !important;
}
.modHr {
  height: 792px !important;
}
.profClose {
  top: -652px !important;
}
.each_vac {
  border: 1px solid #808080;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px 11px;
}
.inside_vacs {
  display: grid;
  grid-gap: 23px;
}
.loc1 {
  position: relative;
  left: 110px;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.requir1 {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
.sal1 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.wrap_eachVac, .wrap_eachVac2 {
  width: 900px;
  position: relative;
  display: grid;
  grid-template-columns: 100% 1%;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrap_eachVac {
  top: 124px;
}
.wrap_eachVac2 {
  top: 74px;
  margin-bottom: -20px;
}
#manage_title {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 140%;
}
.wrap_mng {
  margin-top: 50px;
}

#cr_newP {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #000000;
  top: -15px;
  position: relative;
  cursor: pointer;
}
.wrapOfHr {
  margin-bottom: 50px;
  width: 1290px;
  height: 362px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.photoHr {
  width: 190px;
  height: 190px;
  position: relative;
  overflow: hidden;
}
#eachHrPerson {
  width: 100%;
  height: 100%;
}
.nameHr {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.detHr, .linHr {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.cl_prof {
      position: relative;
      cursor: pointer;
      z-index: 999;
      float: right;
      top: 13px;
      right: 13px;
}
.inside_table {
  width: 100%;
  height: auto;
  display: table;
}
.dispGrid {
  display: grid !important;
}
.dispNone {
  display: none !important;
}
.longVariant {
  display: none;
}
.for_inside_table {
  height: 1700px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block !important;
}
.for_inside_table::-webkit-scrollbar {
  width: 0;
}
.commComp {
  width: 1126px;
  height: 70px;
  background: white;
  position: relative;
  display: grid;
  grid-template-columns: 15% repeat(4, 14.5%) 27%;
  left: 38px;
  top: 91px;
  margin-bottom: 10px;
  padding: 0px 33px;
  align-items: center;
}
.commComp:nth-child(1) {
  border-radius: 20px 20px 0px 0px !important;
}
.commVacs {
      position: relative;
      background: white;
      width: 600px;
      padding-left: 32px;
      height: 153px;
      display: grid;
      grid-template-rows: repeat(3, 50px);
      grid-template-columns: 10% 20% 70%;
}
.eachVacs {
  font-size: 17px;
  line-height: 25px;
  font-family: 'Inter-Regular';
}
.dir1 {
      font-family: 'Inter-SemiBold';
      grid-column: 1 / 4;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 140%;
}
.requir {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
}
.loc11 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
}
.searchCompany {
    position: relative;
    right: 10px;
    top: 5px;
}
.searchingType {
  color: white;
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
.arrowDown {
  position: relative;
  left: 10px;
  top: 2px;
  display: none;
}
.fil1 {
  opacity: 0;
}
.searchingBlock {
  position: absolute;
  width: 1112px;
  left: 80px;
  top: 36px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#findComp {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
#findComp:focus {
  border: none
}
.wrap_searchPositions {
    position: revert;
    display: flex;
    justify-content: center;
}
.searchPositions {
  width: 580px;
  height: 639px;
  background: linear-gradient(
  180deg, rgba(255, 255, 255, 0.22) 0%, rgba(0, 209, 255, 0) 100%);
  backdrop-filter: blur(43px);
  border-radius: 18.9915px;
  margin-left: 60px;
}
.searchVacs {
  width: 488px;
  height: 50px;
  margin: 11px 0px;
  left: 34px;
  top: 22px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #6B36EF00, #1EC0F4);
  background: transparent;
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: white;
  cursor: pointer;
  padding-left: 21px;
}
.searchVacs::placeholder {
  color: white;
}
#searchForm {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr;
}
.searchVacsCheck {
  width: 20px;
  height: 20px;
}
#req_but2 {
  position: relative;
  top: -110px;
  left: 32px;
  background: linear-gradient(
  62.18deg, rgba(107, 54, 239, 0) -22.93%, #1EC0F4 88.82%);
  cursor: pointer;
  color: white;
  width: 126px;
  height: 50px;
  border: none;
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
}
.lblsFor {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: white;
  position: relative;
  width: 400px;
  height: 31px;
}
#resFil {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-decoration-line: underline;
    color: white;
    width: 147px;
    height: 31px;
    cursor: pointer;
    position: relative;
    top: -173px;
    left: 213px;
}
#applFor, #receiveList {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
#applFor2 {
  left: 64px;
  top: -35px;
}
#receiveList2 {
  position: relative;
  top: -138px;
  left: 63px;
}
.receiveForPColor3 {
  background: linear-gradient(62.18deg, rgba(107, 54, 239, 0)
  -22.93%, #1EC0F4 88.82%);
  left: -5px !important;
  top: -15px !important;
  border: none !important;
}
.receiveForPColor2 {
  background: linear-gradient(62.18deg, rgba(107, 54, 239, 0)
  -22.93%, #1EC0F4 88.82%);
  left: 31px !important;
  top: 32px !important;
  border: none !important;
}
.receiveForPColor {
  background: linear-gradient(62.18deg, rgba(107, 54, 239, 0)
  -22.93%, #1EC0F4 88.82%);
  left: 31px !important;
  top: -71px !important;
  border: none !important;
}
