/* Profile Adaptive */
@media (min-width: 1001px) {
  .wrap_eachVac2 {
    width: 460px;
  }

  #clVac {
    left: 430px;
  }
}

@media (min-width: 992px) and (max-width: 1000px) {
  .title_of {
    left: 30px;  
  }

  .wrap_eachVac2 {
    width: 446px;
  }

  #clVac {
    left: 413px;
  }

  .card1, .hr2 {
    left: 30px;
  }

  .wrap_mng, .wrap_docs {
    position: relative;
    left: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrap_header {
    margin: 0 auto;
  }

  .each_vac {
    width: 455px;
  }

  .wrap_mng {
    top: -390px;
  }
}

@media (min-width: 576px)  and (max-width: 767px) {
  .wrap_header {
    margin: 0 auto;
  }

  #titleIn {
    margin-left: 100px;
  }

  #publIn {
    margin-left: 100px;
  }

  #impComp {
    width: 241px;
  }

  .wrap_linksProf { 
    display: grid;
    grid-template-columns: 360px 300px;
    margin-left: 100px;
  }

  .card1 {
    margin: 0 auto;
    width: 676px;
  }

  .common_Cred {
    width: 250px;
  }

  .hr2 {
    margin-left: 100px;
  }

  .wrap_eachVac2 {
    width: 559px;
  }

  #clVac {
    left: 520px;
  }

  #docs1 {
    left: 0;
  }

  #manage_title, #cr_newP {
    position: relative;
    left: 100px;
  }

  .photoHr {
    height: 145px;
  }

  .hr3 {
    position: relative;
    left: 100px;
  }

  .wrap_docs {
    left: 100px;
  }
}

@media (min-width: 322px) and (max-width: 575px) {
  .photoHr {
    height: 200px;
  }
}