/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	position: relative;
	background-color: #131A43;
}

.wraper {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;

}
.wrap_header {
	width: 100%;
	min-height: 114px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.header {
	width: 1291px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
#bg_gif {
	width: 1403px;
	height: 890px;
	position: absolute;
	width: 1403.76px;
	height: 889.95px;
	/* right: 0; */
	left: 708.83px;
	top: -54.69px;
	z-index: -1;
}
.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_list {
	display: flex;
}
.header_item {
	margin-left: 58px;
	font-family: "Inter";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 99.18%;
	text-decoration-line: underline;
}
.header_link, .header_link:visited  {
	color: #FFFFFF;
}
