.wrap_database {
  width: 100%;
  height: 1510px;
  background: #131A43;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.glDb {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 150%;
  width: 368px;
}
.comDb {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 140%;
  position: relative;
  top: -39px;
  width: 432px;
}
.wrapDB {
  position: absolute;
  display: grid;
  justify-content: center;
  grid-row: 2 / 3;
  width: 100%;
  top: 200px;
  color: white;
}
.dB {
  position: relative;
  top: -30px;
  width: 1290px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.addDb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 41px;
  background: linear-gradient(62.18deg, rgba(107, 54, 239, 0) -22.93%, #1EC0F4 88.82%);
  font-size: 18px;
  line-height: 140%;
  font-family: 'Inter-Regular';
  cursor: pointer;
  top: -47px;
  z-index: 900;
}
.moreDb {
  font-size: 18px;
  line-height: 140%;
  color: white;
  position: relative;
  left: 213px;
  top: -97px;
  font-family: 'Inter-Regular';
}
.wrapTable {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 600px;
}
.tableMain {
  position: relative;
  border-radius: 18.9915px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(0, 209, 255, 0) 100%);
  backdrop-filter: blur(43px);
  width: 1271px;
  height: auto;
  max-height: 850px;
  min-height: 550px;
  overflow-y: scroll;
}
.tableMain::-webkit-scrollbar {
  width: 0px;
}
#wrap_data_footer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: -560px;
  height: 1px;
}
.forDataFooter {
  top: 330px !important;
}
#standSamples, #floorPlan {
  opacity: 0;
}
#comNews {
  width: 158px;
}
.wrap_data_header {
  position: relative;
  top: 16px;
}
.wrap_hr {
  background: #131A43;
}
.wrap_vac {
  position: relative;
  top: -4px;
  background: #131A43;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrap_hr_header {
  background: #131A43;
}
.industry_vac {
  width: 1290px;
  height: 400px;
  position: relative;
  top: 89px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#block_hr {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 150%;
  color: white;
}
#for_hr {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 140%;
  color: white;
  position: relative;
  top: -40px;
}
.vanta-canvas {
    left: -152px !important;
    z-index: -1 !important;
    width: 1195px !important;
    height: 606px;
    position: absolute;
}
#your-element-selector {
  box-shadow: inset 0px -16px 140px 156px #131a43;
  width: 100%;
  height: 100%;
  position: relative;
}
#job_hr {
  font-family: 'Inter-Regular';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 30px 17px;
  position: absolute;
  width: 630px;
  left: 0px;
  top: 243px;
  color: white;
  background: linear-gradient(62.18deg, rgba(107, 54, 239, 0) -22.93%, #1EC0F4 88.82%);
  border: none;
  cursor: pointer;
}
#job_hr::placeholder {
  color: white;
  font-size: 18px;
}
#loope {
  position: relative;
  left: 645px;
  top: -42px;
  cursor: pointer;
}
.all_vac {
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 20px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #1EC0F4, #6B36EF);
  color: white;
  font-size: 20px;
  font-family: 'Inter-Regular';
  margin-left: 22px;
  margin-bottom: 3px;
}
.right_ind {
  position: relative;
  left: 75px;
  top: 20px;
}
.wrap_hrHelp {
  position: relative;
  left: -18px;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hrHelp {
  width: 1218px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 18px;
  border: 3px solid #D0000F;
}
#sp1 {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 150%;
  color: #D0000F;
}
#sp2 {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: white;
  position: relative;
  left: -247px;
}
.wrap_Filters {
    position: relative;
    top: 83px;
    height: 70px;
    width: 1212px;
}
#sp3 {
  width: 126px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  line-height: 140%;
  color: white;
  background: #D0000F;
}
.searchBarElement, .searchBarInput {
  font-size: 18px;
  font-family: 'Inter-Regular';
  line-height: 140%;
  color: white;
}
.searchBarElement:nth-child(2) {
  position: relative;
  left: -4px;
}
.searchBarElement:nth-child(3) {
  position: relative;
  left: 6px;
}
.searchBarElement:nth-child(4) {
  position: relative;
  left: 30px;
}
.searchBarElement:nth-child(5) {
  position: relative;
  left: -7px;
}
.searchBarElement:nth-child(6) {
  position: relative;
  left: 9px;
}
.searchBar {
  position: relative;
  display: grid;
  grid-template-columns: 10% 10% 10% 20% 10% 10% 30%;
}
.searchCity {
  grid-column: 1 / 2;
}
.searchCombo {
  position: relative;
  left: 29px;
  grid-column: 7 / 9;
}
.arrowsSearch {
  position: relative;
  left: 10px;
}
.searchCity {
  width: 230px;
  position: relative;
  top: 20px;
  background: linear-gradient(
  135deg, #00E1B3 20%, #51FF81 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#searchBarInput {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  width: 20px;
  height: 20px;
}
#searchLabel {
  position: relative;
  left: 28px;
}
#closeSearchBar {
  position: relative;
  left: 10px;
  cursor: pointer;
}
.doubleInside_vacs {
  display: grid;
  grid-gap: 23px;
  overflow-y: scroll;
  width: 645px;
  overflow-x: hidden;
}
.doubleInside_vacs::-webkit-scrollbar {
  width: 0;
}
