#wrap_hr_footer {
  position: relative;
  top: -1185px;
}
.title_of {
  position: relative;
  top: 35px;
}
#clVac {
  position: absolute;
  left: 420px;
  top: 30px;
}
#clVac > img {
  width: 16px;
}
.linHr {
  position: relative;
  left: 12px;
  top: -1px;
}
.darkBurger {
  background: black !important;
}
#findComp {
  position: relative;
  top: -20px;
  left: 11px;
}

#docs1 {
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 140%;
}
#crNew {
  font-size: 18px;
  line-height: 140%;
  text-decoration-line: underline;
}
#spanPlus1 {
    transform: rotate(
  -45deg);
    position: relative;
    left: 14px;
}
.wrap_docs {
  margin-top: 50px;
}
.modDoc {
  height: 478px !important;
}
.profDoc {
  height: 427px !important;
}
.profClose2 {
  top: -738px !important;
}
.eachDoc {
  width: 232px;
  height: 88px;
  border: 1px solid #808080;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0px 10px;
}
.nameOfDoc1 {
  position: relative;
  top: -10px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Inter-SemiBold';
  font-size: 18px;
  line-height: 140%;
}
.descrOfDoc1 {
  position: relative;
  top: -23px;
  font-size: 14px;
  line-height: 140%;
}
.eachCloseDocs {
  position: relative;
  top: -106px;
  width: 10px;
  left: 196px;
  cursor: pointer;
}
.wrapOfDocs {
  position: relative;
  grid-gap: 30px;
  width: 1290px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.wrap_footer_profile {
      height: 1px;
}
.docsClose {
  position: relative;
  top: -424px !important;
}
.wrap_burger {
  display: none;
}
.show_burber {
  transform: translateX(0px) !important;
}
.turn1 {
  transform: rotate(
  45deg);
  top: 5px;
  position: relative;
}
.turn2 {
  position: relative;
    width: 18px !important;
    transform: rotate(
-45deg);
    top: -13px !important;
    left: 0px !important;
}
.companyForm {
    position: relative;
}
.modalSignIn {
      height: 362px;
}
.insideSignIn {
      height: 311px;
}
.exp1 {
  width: 234px;
  left: 90px;
}
.fullDescrOfDoc2 {
  top: -18px !important;
}
.sal1 {
  left: 60px;
  width: 200px;
}
.showCard {
  height: 900px !important;
}
.fullNameOfDoc2 {
  top: 13px;
  position: relative;
}
.wrapTable2 {
  height: 1800px;
  background: #131A43;
}
.task1, .sal1, .exp1 {
  position: relative;
  top: -12px;
}
.dir1 {
  position: relative;
  top: -5px;
}
.afterHr {
  font-size: 18px;
  line-height: 140%;
  color: white;
  font-family: 'Inter-Regular';
  width: 505px;
  position: relative;
  top: -8px;
}
.eachData, .eachData2 {
  font-family: 'Inter-Regular';
  font-weight: normal !important;
  padding-right: 32px;
}

.eachData2 {
  padding-right: 0;
}

.fullMail {
  padding-right: 83px;
}
.eachFullDoc {
  padding-right: 17px;
  padding-bottom: 5px;
}
.fullDescr {
  padding-right: 20px;
}
.shortVariant {
  width: 1126px;
  height: 70px;
  display: grid;
  grid-template-columns: 260px 1px 133px 200px;
  align-items: center;
}
.fullAppearTitles {
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  font-family: 'Inter-SemiBold';
}
.longVariant {
  width: 1290px;
  grid-template-columns: 25% repeat(5, 1fr);
  grid-template-rows: 20% 20% 40% 20%;
  height: 100%;
  padding-top: 40px;
}
.fullAppearTitles {
  height: 100px;
}
.fullAppearTitles:nth-child(1) {
  text-align: start;
}
.fullAppearTitles:nth-child(2) {
  position: relative;
  left: -8px;
}
.fullAppearTitles:nth-child(3) {
  position: relative;
  left: 38px;
}
.fullAppearTitles:nth-child(4) {
  position: relative;
  left: 84px;
}
.fullAppearTitles:nth-child(5) {
  position: relative;
  left: 162px;
}
.fullAppearTitles:nth-child(6) {
  position: relative;
  top: -50px;
  left: 162px;
}
.fullAppearTitles:nth-child(7) {
  grid-column: 1 / 3;
  position: relative;
  top: -50px;
  width: 400px;
}
.fullAppearTitles:nth-child(8) {
  grid-column: 3 / 5;
  position: relative;
  top: -50px;
  width: 300px;
}
.fullAppearTitles:nth-child(9) {
  grid-column: 5 / 7;
  position: relative;
  top: -50px;
}
.closeComp {
  position: relative;
  text-align: end;
  top: 5px;
  cursor: pointer;
}
.firstDb {
  height: 405px;
  z-index: 100;
}
.secondDb {
  position: relative;
  z-index: 0;
  height: 657px;
  top: -171px;
  width: 1068px;
  box-shadow: inset -8px 0px 130px 83px #131a43;
}


