.possibilities{grid-area:possibilities}
.technologies{grid-area:technologies}
.why{grid-area:why}
.community{grid-area:community}
.title_2{grid-area:title_2}
.subtitle_2{grid-area:subtitle_2}
.title_3{grid-area:title_3}
.subtitle_3{grid-area:subtitle_3}
.collaboration_img{grid-area:collaboration_img}

.collaboration{
	margin-top:-202px;
	background-image: url('../images/Mask Group.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 1750px;
	display: grid;
	overflow: hidden;
	grid-template-columns: 20% repeat(3, 1fr);
	grid-template-areas:
		". possibilities ."
		". technologies ."
		". why ."
		". community collaboration_img"
		". title_2 ."
		". subtitle_2 ."
		". title_3 ."
		". subtitle_3 ."
}

.possibilities{
	width: 978px;
	height: 69px;
	margin-top:100px;
	grid-column: 2/4;
	font-family: 'Mont-SemiBold';
	font-weight: 800;
	font-size:45px;
	line-height:69px;
	color:#FFFFFF;
	position:relative;
	margin-bottom:0;
	position: relative;
	left: -115px;
}

.technologies{
	margin-top:-50px;
	width: 939px;
	height: 200px;
	font-family: 'Mont-Light';
	font-weight: 300;
	grid-column: 2/4;
	font-size:45px;
	line-height:69px;
	color:#FFFFFF;
	position: relative;
	left: -115px;
}

.why{
	font-family: 'Mont-SemiBold';
	font-weight: 800;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	position: relative;
	top: -100px;
	left: -115px;
}

.community{
	margin-top:-110px;
	font-family: 'Inter-Regular';
	font-weight: normal;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	width: 497px;
	height: 200px;
	position: relative;
	left: -115px;
}

.title_2{
	font-family: 'Mont-SemiBold';
	font-weight: 800;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	position: relative;
	left: -115px;
	top: -20px;
}

.subtitle_2{
	margin-top:-98px;
	font-family: 'Inter-Regular';
	font-weight: normal;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	width: 512px;
	height: 25px;
	position: relative;
	left: -115px;
}

.title_3{
	font-family: 'Mont-SemiBold';
	font-weight: 800;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	position: relative;
	left: -115px;
	top: -150px;
}

.subtitle_3{
	margin-top:-200px;
	font-family: 'Inter-Regular';
	font-weight: normal;
	font-size:18px;
	line-height:25px;
	color:#FFFFFF;
	width: 501px;
	height: 100px;
	position: relative;
	left: -115px;
}

#container{
	position:absolute;
	grid-row:3/7;
	width:550px;
	height:550px;
	justify-self:center;
	align-self:center;
	mix-blend-mode: lighten;
	z-index: 1000;
	left: 300px;
	top: -400px;
}

#table_1{
	position: absolute;
	left: 220px;
	width: 1456.07px;
	height: 720px;
	top: 2750px;
	left:120px;
	
}

.table_glass{
	position: absolute;
	left: 200px;
	width: 1290px;
	height: 524.22px;
	top: 3000px;
	background: linear-gradient(180deg, #FFFFFF 13.15%, rgba(255, 255, 255, 0) 140.31%);
	transform: rotate(-180deg);
}
