/* Profile Adaptive */

@media (min-width: 1501px) {
  .wrap_eachVac2 {
    width: 930px;
  }
}

@media (min-width: 1000px) and (max-width: 1116px) {
  .wrap_header {
    left: -45px;
  }

  .nav_header_flex {
    width: 500px;
    justify-content: flex-end;
    display: flex;
  }

  .wrap_hr_header .wrap_mainHeader .wrap_header {
    left: 30px;
  }
}

@media (min-width: 1001px)  and (max-width: 1500px) {
  .wrap_eachVac2 {
    width: 410px;
  }

  #clVac {
    left: 380px;
  }

  .hr2 {
    margin-left: 40px;
  }
}

@media (min-width: 993px) and (max-width: 1000px) {
  .title_of {
    left: 30px;  
  }

  .wrap_header {
    position: relative;
    left: 16px;
  }

  .common_Cred {
    width: 287px;
  }

  .wrap_eachVac2 {
    width: 410px;
  }

  .hr2 {
    margin-left: 40px;
  }

  #clVac {
    left: 380px;
  }

  .card1, .hr2 {
    left: 30px;
  }

  .wrap_mng, .wrap_docs {
    position: relative;
    left: 32px;
  }

  .wrap_linkes_footer {
    grid-template-columns: 126px 126px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .wrap_header {
    margin: 0 auto;
  }

  .each_vac {
    width: 455px;
  }

  .closeBurger {
    display: none;
  }

  .nav_header_black {
    display: block;
    font-size: 16px;
  }

  .wrap_header {
    margin: 0;
  }

  #partners {
    left: 0;
  }

  #header_about {
    left: -44px;
  }

  #header_contacts {
    left: 60px;
  }

  #blog {
    left: 61px;
  }
}

@media (min-width: 577px)  and (max-width: 768px) {
  .wrap_header {
    margin: 0 auto;
    left: 0;
  }

  .nav_header_flex {
    width: 0;
    justify-content: flex-end;
    display: flex;
  }

  #titleIn {
    margin-left: 100px;
  }

  #publIn {
    margin-left: 100px;
  }

  #impComp {
    width: 241px;
  }

  .wrap_linksProf { 
    display: grid;
    grid-template-columns: 360px 300px;
    margin-left: 100px;
  }

  .card1 {
    margin: 0 auto;
    width: 676px;
  }

  .common_Cred {
    width: 250px;
  }

  .hr2 {
    margin-left: 100px;
  }

  .wrap_eachVac2 {
    width: 559px;
  }

  #clVac {
    left: 520px;
  }

  #docs1 {
    left: 0;
  }

  #manage_title, #cr_newP {
    position: relative;
    left: 100px;
  }

  .photoHr {
    height: 145px;
  }

  .hr3 {
    position: relative;
    left: 100px;
  }

  .wrap_docs {
    position: relative;
    left: 100px;
  }

  #anchor_link {
    left: 0;
  }
}

@media (min-width: 322px) and (max-width: 576px) {
  .wrap_footer {
    margin-top: 100px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .companyCard {
    grid-template-rows: 862px auto;
  }

  .hr2 {
    top: 0;
    margin-bottom: 150px;
  }
}

.wrap_footer_profile {
  top: 0;
}

.wrap_footer_profile .wrap_footer {
  top: 0;
}

.wrap_footer_profile .wrap_footer .footer {
  position: relative;
  top: 0;
}