@media (min-width: 1485px) and (max-width: 1800px) {
	#container {
		top: -700px;
	}
}
@media (min-width: 1000px) and (max-width: 1500px) {
	.wrap_logos {
		top:1500px;
	}
	.participating1{
		font-size: 30px;
		line-height: 42px;
		width:358px;
	}

	.seeAll_3 {
		top:35px;
		left:-255px;
	}
	.wrap_vacancies {
		top: 80px;
	}
	.block_v, .we_wish {
		margin: 10px 0px;
	}
	.explain2 {
		-ms-grid-column: 1;
		-ms-grid-column-span: 8;
		grid-column: 1 / 9;
	}
	#img_stand, #img_stand2 {
		width: 570px;
	}
	.square_projects1, .square_projects11 {
		width: 496px;
		height: 442px;
		top: 21px;
	}
	.square_projects2, .square_projects22 {
		width: 468px;
		height: 336px;
		top: 45px;
	}
	.footer{
		position: relative;
		top:2300px;
		width: 990px;
		grid-template-columns: 14.5% repeat(2, 1fr) 28%;
	}
	.reserve, .discover_more, .reserve2 {
		top: -47px !important;
	}
	.reserve, .reserve2 {
		height: 63px;
		width: 171px;
		font-size: 18px;
		left: 81px;
	}
	.discover_more, .discover_more2 {
		width: 197px;
		height: 63px;
		left: -290px;
		font-size: 18px;
	}
	.discover_more2 {
		left: 94px !important;
		top: -47px !important;
	}
	.wrap_contacts {
		justify-items:end;
		top: -33px;
		left: -19px;
	}
	.wrap_linkes_footer {
		position: relative;
		left: 182px;
	  grid-gap: 26px;
		grid-column-gap: 76px;
		top: -15px;
		width: 400px;
	}
	.wrap_spheres {
		margin-top:0px;
	}
	.wrap_brands {
		top: -93px;
		z-index: -1;
	}
	.brands_text {
		width: 486px;
	}
	.seeAll_2 {
		left: 240px;
	}
	.stand_one {
		left: 128px;
		top: -70px;
	}
	 .stand_two {
		 left: -121px;
		 top: -70px;
	 }
	 .logos {
		 width: 990px;
		 grid-template-columns: repeat(6, 1fr);
	 }
	 .join2 {
		 width: 528px;
		 top: -33px;
	 }
	 #stick7, #stick8, #stick9, #stick10 {
		 display: none;
	 }
	 .wrap_footer {
		 top: -200px;
	 }
	 #anchor_link {
		 left: 122px;
		 top: -36px;
	 }
}
