@media (min-width: 992px) and (max-width: 1116px) {
    body {
      -moz-transform: scale(0.88, 0.88); /* Moz-browsers */
      zoom: 0.88; /* Other non-webkit browsers */
      zoom: 88%; /* Webkit browsers */
    }
    .wrap_modal1 {
      -moz-transform: scale(0.75, 0.75); /* Moz-browsers */
      zoom: 0.75; /* Other non-webkit browsers */
      zoom: 75%; /* Webkit browsers */
  }
  .wrap_modal1_dark {
    -moz-transform: scale(1.16, 1.16); /* Moz-browsers */
    zoom: 1.16; /* Other non-webkit browsers */
    zoom: 116%; /* Webkit browsers */
  }
}
@media (min-width: 952px) and (max-width: 1500px) {
    .wrapDB {
        top: 160px;
    }
}
@media (min-width: 992px) and (max-width: 1500px) {
  .vac {
    width: 952px;
  }
  .companyCard {
    grid-template-columns: 40% 60%;
  }
  .wrap_compProfiles {
    top: -14px;
    left: -14px;
  }
  .doubleInside_vacs {
    height: 1043px;
    width: 505px;
  }
  .shortVariant, .longVariant {
    width: 864px;
  }
  .inside_vacs {
    height: 1307px;
  }
  .titOdCred {
    width: 226px;
  }
  #cCard {
    width: 300px;
  }
  .afterHr {
    top: -44px;
  }
  .each_vac {
    margin-bottom: 15px;
  }
  #profEd {
    z-index: -1000;
    opacity: 0;
  }
  .circlesProfile {
    left: 18px !important;
  }
  .fullAppearTitles:nth-child(7) {
    width: 277px;
  }
  .fullAppearTitles:nth-child(8) {
    width: 217px;
  }
  #global_black {
    top: 0px;
    left: -117px;
  }
  .fullAppearTitles {
    font-size: 16px;
  }
  .fullAppearTitles:nth-child(2) {
    left: -4px;
  }
  .fullAppearTitles:nth-child(3) {
      position: relative;
      left: 11px;
  }
  .fullAppearTitles:nth-child(9) {
    left: 34px;
    padding-right: 40px;
    width: 201px;
  }
  .fullAppearTitles:nth-child(4) {
      position: relative;
      left: 28px;
  }
  .fullAppearTitles:nth-child(5) {
      position: relative;
      left: 70px;
  }
  .manageFull {
    width: 906px;
    grid-gap: 27px;
  }
  .wrap_fullDocs {
    width: 870px;
    top: -12px;
  }
  .eachFullDoc {
    width: 194px;
    top: 18px;
    height: 105px;
  }
  .eachFullPerson {
    width: 150px;
  }
    .closeComp {
    left: -55px;
  }
  #findComp {
    top: -1px;
  }
  .forDataFooter {
    top: -212px !important;
  }
  #conference {
    left: 45px;
  }
  #partners {
    left: -52px;
  }
  #header_about {
    left: -50px;
  }
  #blog {
    left: 57px;
  }
  #sp2 {
    left: -82px;
  }
  #mrCnt, #mapSite {
    display: none;
  }
  #email {
    position: relative;
    top: -19px;
}
#loginFor {
   position: relative;
   top: -41px;
   left: 2px;
}
  .searchBarElement, .searchBarInput {
    font-size: 16px;
  }
  
  .searchCombo {
    width: 280px;
  }
  .wrap_modal1 {
    -moz-transform: scale(0.75, 0.75); /* Moz-browsers */
    zoom: 0.75; /* Other non-webkit browsers */
    zoom: 75%; /* Webkit browsers */
}
  #block_hr {
    font-size: 38px;
    line-height: 150%;
    width: 383px;
  }
  #for_hr {
    font-size: 38px;
    line-height: 140%;
    top: -30px;
  }
  #job_hr {
    top: 358px;
    width: 466px;
    height: 20px;
  }
  #loope {
    left: 485px;
    top: -15px;
  }
  .wrap_hrHelp {
    top: 160px;
    left: 0px;
  }
  .hrHelp {
    width: 912px;
  }
  .wrap_Filters {
    position: relative;
    top: 222px;
    width: 1056px;
  }
  .dB {
    width: 958px;
  }
  .wrap_eachVac {
    width: 952px;
    position: relative;
    top: 275px;
  }
  .searchPositions {
    width: 465px;
    height: 638px;
  }
  .industry_vac {
    width: 950px;
    top: 83px;
  }
  .right_ind {
    width: 438px;
    left: 54px;
  }

  .all_vac {
    font-size: 18px;
  }
  #wrap_hr_footer {
    position: relative;
    top: -1779px;
  }
  .searchVacs {
    left: 0px;
    font-size: 18px;
    line-height: 140%;
    width: 399px;
    height: 50px;
    padding-left: 44px;
  }
  .commVacs {
    width: 466px;
  }
  .lblsFor {
    font-size: 18px;
  }
  .wrap_eachVac {
    grid-gap: 24px;
  }
  #resFil {
    font-size: 18px;
    top: -166px;
  }
  #req_but2 {
    font-size: 18px;
  }
  .wrap_circle {
    left: 34px;
  }
  .glDb {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
  }
  .comDb {
    font-size: 40px;
    line-height: 140%;
  }
  .addDb {
    width: 151px;
    height: 38px;
    font-size: 16px;
    z-index: 900;
  }
  .moreDb {
    font-size: 16px;
    line-height: 140%;
  }
  .tableMain {
    width: 948px;
    left: -6px;
  }
  .searchingBlock {
    width: 815px;
    left: 63px;
    top: 36px;
    grid-template-columns: repeat(6, 1fr);
  }
  .commComp {
    width: 812px;
    height: 70px;
    background: white;
    position: relative;
    display: grid;
    grid-template-columns: 25% repeat(4, 12.5%) 25%;
    left: 33px;
    top: 91px;
  }
  .searchCompany {
    position: relative;
    right: 22px;
    top: 26px;
  }
  #wrap_data_footer {
    top: -1090px;
  }
  .jur1, .hir1, .fil1 {
    display: none;
  }
  .mail1 {
    grid-column: 5 / 6;
    position: relative;
    left: 99px;
  }
  .ind1 {
    grid-column: 4 / 5;
    left: 66px;
    position: relative;
  }
  .req1 {
    position: relative;
    grid-column: 3 / 4;
  }
  .loop1 {
    position: relative;
    grid-column: 6 / 7;
    top: -13px;
  }
  .ind2 {
    position: relative;
    grid-column: 4 / 5;
    justify-self: end;
  }
  .req2 {
    grid-column: 3 / 4;
  }
  .wrapTable {
    top: 589px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .glDb {
    font-size: 30px;
    line-height: 150%;
  }
  .doubleInside_vacs {
    height: 1109px;
  }
  .switch {
    top: -20px
  }
  .detHr {
    width: 200px;
  }
  .nav_header_black {
    display: none;
  }
  .circlesProfile {
    left: 41px !important;
  }
  #global_black {
    font-size: 16px;
    line-height: 19px;
    top: 13px;
    left: -90px;
  }
  #wrap_data_footer {
    height: 0px;
  }
  .shortVariant {
    width: 588px;
    grid-template-columns: repeat(3, 1fr);
  }
  .fullAppearTitles:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 160%;
    position: relative;
    top: -131px;
    left: 103px;
  }

  .fullAppearTitles:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    left: 0px;
    width: 60%;
    top: -132px;
  }
  .fullAppearTitles:nth-child(5) {
      left: 263px;
      grid-column: 2 / 4;
      width: 100px;
      grid-row: 1 / 2;
  }
  .fullAppearTitles:nth-child(7) {
    grid-column: 1 / 3;
    position: relative;
    top: -229px;
    width: 140%;
}
.fullAppearTitles:nth-child(8) {
    grid-column: 3 / 4;
    position: relative;
    top: 36px;
    grid-row: 2 / 4;
    left: -924px;
    width: 250px;
}
.fullAppearTitles:nth-child(9) {
    grid-column: 1 / 2;
    position: relative;
    top: -596px;
    grid-row: 4 / 5;
    width: 160%;
}
.eachFullPerson {
  width: 150px;
}
.manageFull {
    position: relative;
    width: 582px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: -667px;
    grid-column: 1 / 4;
}
.wrap_fullDocs {
    position: relative;
    display: grid;
    width: 599px;
    grid-row: 4 / 5;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 5;
    grid-gap: 10px;
}
.eachFullDoc {
  width: 194px;
  height: 105px;
}
  .closeComp {
    left: 438px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 10px;
    height: 10px;
  }
  .longVariant {
    width: 598px;
    grid-template-columns: 25% repeat(3, 1fr);
    grid-template-rows: 20% 20% 40% 20% 20% 20%;
  }
  .fullAppearTitles:nth-child(2) {
    left: 103px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
  #email {
    top: 1px;
  }
  .each_footer {
    width: 184px;
  }
  #mapSite, #mrCnt {
    display: none;
  }
  #loginFor {
    position: relative;
    top: -1px;
    left: -21px;
  }
  #findComp {
    top: 1px;
    left: -4px;
  }
  .forDataFooter {
    top: -212px !important;
}
  .afterHr {
    font-size: 16px;
    top: -191px;
    height: 46px;
  }
  .searchBarElement, .searchBarInput {
    font-size: 16px;
  }
  .searchCity {
    top: 43px;
  }
  .searchCombo {
    grid-row: 2 / 3;
    position: relative;
    top: 44px;
    width: 185px;
    left: 78px;
  }
  .searchBarElement:nth-child(2) {
    position: relative;
    left: 33px;
    width: 93px;
  }
  .searchBarElement:nth-child(3) {
    position: relative;
    left: 79px;
    width: 85px;
}
  .searchBarElement:nth-child(4) {
    position: relative;
    left: 135px;
}
  .searchBarElement:nth-child(5) {
        position: relative;
        left: 109px;
        grid-column: 6 / 7;
        width: 114px;
  }
  .searchBarElement:nth-child(6) {
    position: relative;
    left: 160px;
    grid-column: 7 / 9;
    width: 110px;
  }
  .close1 {
    height: 3px;
    background: white;
    width: 18px;
    transition: 0.2s;
  }
  .burger {
    width: 100%;
    height: 92%;
    display: grid;
    padding-left: 28px;
    padding-top: 15px;
    grid-gap: 4px;
    position: relative;
    top: 14px;
  }
  .mobileNav {
      color: black;
      font-size: 18px;
      line-height: 17px;
      font-family: 'Inter-Regular';
  }
  .wrap_burger {
    position: fixed;
    display: block;
    top: 100px;
    width: 208px;
    height: 412px;
    background: #FFFFFF;
    border-radius: 15px 0px 15px 15px;
    z-index: 1;
    transform: translateX(-1000px);
    transition: 0.5s;
    padding: 0px 10px;
    z-index: 1000;
  }
  .clDown {
    background: white;
    height: 3px;
    width: 9px;
    position: relative;
    left: 9px;
    top: -10px;
  }
  .closeBurger {
    display: block;
    position: relative;
    grid-column: 9 / 10;
    height: 43px;
    width: 19px;
    top: 11px;
    cursor: pointer;
  }
  #block_hr {
    font-size: 25px;
    line-height: 150%;
    width: 372px;
  }
  .searchPositions {
    width: 721px;
  }
  .vac {
    width: 731px;
  }
  .industry_vac {
    grid-template-columns: 1fr;
    width: 737px;
  }
  #sp1 {
    font-size: 26px;
  }
  #sp3 {
    width: 99px;
    height: 40px;
    font-size: 16px;
  }
  #sp2 {
    left: -17px;
    font-size: 16px;
  }
  .wrap_Filters {
    position: relative;
    top: 242px;
    width: 683px;
  }
  .wrap_eachVac {
    grid-template-columns: 1fr;
    width: 576px;
    top: 322px;
  }
  .right_ind {
    left: -22px;
    top: 27px;
  }
  .searchVacs {
    width: 630px;
  }
  .searchVacs::placeholder {
    font-size: 16px;
  }
  #req_but2 {
    width: 167px;
    font-size: 16px;
  }
  .commVacs {
    width: 722px;
    height: 156px
  }
  #receiveList2 {
    top: -135px;
  }
  #applFor2 {
    top: -36px
  }
  .lblsFor {
    font-size: 16px;
  }
  #resFil {
    top: -163px;
    left: 238px;
    font-size: 16px;
  }
  .wrap_hrHelp {
    position: relative;
    top: 177px;
    height: 80px;
    left: -7px;
  }
  .inside_vacs {
    grid-row: 2 / 3;
    position: relative;
    top: 61px;
    height: 1604px;
  }
  .vac {
    width: 540px;
    display: grid;
    justify-content: center;
    position: relative;
    top: -36px;
  }
  .wrap_searchPositions {
    grid-row: 1 / 2;
  }
  #wrap_hr_footer {
    top: -2000px;
    height: 1px;
  }
  .hrHelp {
    width: 681px;
    height: 34px;
  }
  .all_vac {
    font-size: 16px;
  }
  #loope {
    left: 307px;
    top: -1px;
  }
  #job_hr {
    width: 292px;
    left: 0px;
    top: 168px;
  }
  #job_hr::placeholder {
    font-size: 12px;
  }
  #for_hr {
    top: -17px;
    font-size: 25px;
    line-height: 150%;
  }
  .wrap_circle {
    left: 56px;
  }
  .comDb {
    top: -29px;
    width: 432px;
    font-size: 30px;
    line-height: 140%;
  }
  .dB, .tableMain {
    width: 739px;
  }
  .addDb {
    width: 151px;
    height: 38px;
    font-size: 16px;
  }
  .moreDb {
    font-size: 16px;
    line-height: 140%;
    font-size: 'Inter-Regular';
  }
  .wrapTable {
    top: 518px;
  }
  .commComp {
    width: 594px;
  }
  .showCard {
    height: 1325px !important;
}
  .searchingBlock {
    width: 698px;
    left: 54px;
    grid-template-columns: repeat(3, 1fr);
  }
  .searchingType {
    font-size: 16px;
  }
  .ind2, .ind1, .jur1, .hir1, .fil1 {
    display: none;
  }
  .commComp {
    grid-template-columns: repeat(3, 1fr);
  }
  .req1 {
    position: relative;
    left: 6px;
  }
  #wrap_data_footer {
    top: -1014px;
  }
  .wrapDB {
    top: 171px;
  }
}
