@media (min-width: 1100px) and (max-width: 1500px) {
  .nav_header {
    font-size: 16px;
    top: 35px;
  }
  #global {
    font-size: 18px;
    left: -65px;
    line-height: 19px;
  }
  .wrap_header {
    grid-gap: 18px;
  }
  .wrap_circle {
    position: relative;
    left: -40px;
  }
  #container {
    top: -360px;
  }
  #block_net{
	font-size: 40px;
	line-height: 44px;
	left:-110px;
	top:50px;
  }
  .main_screen{
	  height:650px;
  }
  #reality {
	font-size: 30px;
	line-height: 33px;
	left:-110px;
	top:-200px;
	font-family: 'Inter-ExtraLightBETA';
	font-weight: 400;
  }
  #explore {
	font-size: 18px;
	line-height: 25px;
	top:-617px;
	left:80px;
  }
  #join_for {
	width: 143px;
	height: 43px;
	font-size: 18px;
	line-height: 25px;
	left:-110px;
	top:-400px;
	font-family: 'Inter-ExtraLightBETA';
	font-weight: 400;
  }
  .watch_vr {
	top:-150px;
	left:-200px;

  }
  .watch_inside{
	width: 354px;
  height: 354px;
	top:250px;
	left:70px;
  }
   #macbook {
	width: 221.39px;
	height: 238.97px;
	top:-100px;
	left:150px;
 }
	#oculus {
	width: 212.74px;
	height: 144.19px;
	top:110px;
	left:-30px;
 }
	#mobile {
	width: 95.81px;
	height: 120.92px;
	top:110px;
	left:10px;
 }
	.vr {
	font-size: 16px;
	line-height: 22px;
	top:290px;
	left:120px;
	color: #FFFFFF;
 }
 #play1 {
	top:-200px;
	width:44px;
	height:51px;
	left:-60px;
 }
 .collaboration{
	height:1200px;
 }
 .possibilities{
	font-size: 30px;
	line-height: 45px;
	left: -165px;
 }
 .technologies{
	font-size: 30px;
	line-height: 45px;
	left: -165px;
 }
 .why{
	left: -165px;
	top:-150px;
 }
 .community{
	left: -165px;
	margin-top:-255px;
 }
 .title_2{
	left: -165px;
	top:-120px;
 }
 .subtitle_2{
	left: -165px;
	margin-top:-225px;
 }
 .title_3{
	left: -165px;
	top:-270px;
 }
 .subtitle_3{
	left: -165px;
	margin-top:-375px;
 }
 .table1{
	top:700px;
	-ms-grid-columns: 5% 90% 5%;
	grid-template-columns: 5% 90% 5%;
 }
 #table_1 {
	max-width:100%;
 }
 .table_glass{
   width: 100%;
   left: 0;
 }
 #full_database {
	left:28%;
	top:63px;
 }
 #register {
	left:55%;
	top:0px;
 }
 .table_text {
	left:34%;
	top:20px;
 }
 .wrap_people {
	top:830px;
 }
 .our_people {
   position: relative;
   top: -40px;
   font-size: 26px;
   line-height: 42px;
   width: 152px;
 }
 .each_person {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   left: 20%;
   position: relative;
   top: -67px;
   width: 200px;
 }
 .people {
   -ms-grid-columns: (1fr)[4];
   grid-template-columns: repeat(4, 1fr);
 }
 .info_people {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   position: relative;
   left: 26%;
 }
 .descr_of_person {
   font-size: 18px;
 }
 .wide {
   top: 1550px;
 }
 #wide1 {
   width: 92%;
   left: 1%;
   position: relative;
   min-height: 260px;
 }
 .reg_bottom1 {
   width: 182px;
   top: 59px;
   left: 24%;
 }
 .dates1 {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   position: relative;
   left: 29px;
   top: -69px;
   font-family: 'Inter-Regular';
   -ms-grid-row: 3;
   -ms-grid-row-span: 1;
   grid-row: 3 / 4;
   display: block;
 }
 .water {
   height: 178px;
   width: 84%;
   left: 9%;
   top: 21px;
   -ms-grid-rows: (1fr)[3];
   grid-template-rows: repeat(3, 1fr);
 }
 .vr_gl {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1 / 2;
 }
 .VR_stand {
  font-size: 30px;
  line-height: 42px;
 }
 .brands {
   top: 1700px;
   -ms-grid-columns: (1fr)[2];
   grid-template-columns: repeat(2, 1fr);
 }
 .info_brands {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
 }
 .brands_text, .VR_Stand {
   padding-left: 70px;
 }
 .VR_Stand {
    font-size: 30px;
    line-height: 42px;
    position: relative;
    top: -41px;
    width: 471px;
 }
 .stand_one {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   top: -98px;
 }
 .stand_two {
   top: -110px;
 }
}
